<div class="scrollable">
  <div class="scrollable-content">
    <div bs-panel title="הודעה!" class="panel-success message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-danger message-style">
      החדר שלך כפיר מלולך להללה
      אולי תנקה אותי???
    </div>
    <div bs-panel title="הודעה!" class="panel-warning message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-info message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-success message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-danger message-style">
      החדר שלך כפיר מלולך להללה
      אולי תנקה אותי???
    </div>
    <div bs-panel title="הודעה!" class="panel-warning message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-info message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-success message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-danger message-style">
      החדר שלך כפיר מלולך להללה
      אולי תנקה אותי???
    </div>
    <div bs-panel title="הודעה!" class="panel-warning message-style">
      חייבים לנקות!!
    </div>
    <div bs-panel title="הודעה!" class="panel-info message-style">
      חייבים לנקות!!
    </div>
  </div>
</div>